<nav class="navbar navbar-default" ng-if = "!vm.data_error">	
	<div class="container">
		<div class="navbar-header navbar-brand">
			Notebook
		</div>
		<div class = "collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown" ng-repeat="area in vm.data._items">
					<a href="/notebook/{{area}}">
						{{area}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">						
						<li class="" ng-repeat="topic in vm.data[area]._items">
							<a href="/notebook/{{area}}/{{topic}}">
								{{topic}}
							</a>
							<!---->
							<ul class="">
								<li ng-repeat="item in vm.data[area][topic]._items">
									<a href="notebook/{{area}}/{{topic}}/{{item}}">
										{{item}}
									</a>
								</li>
							</ul>
							<!---->
						</li>							
					</ul>
				</li>
			</ul>
		</div>
	</div>		
</nav>	

<div class="container">
	<div ng-if = "!vm.respone_error">
		<div ng-bind-html="vm.response">
		</div>
	</div>
	<div ng-if = "vm.response_error">
		<h1> ERROR </h1>
	</div>
</div>